torch>=1.12.0
torchvision
opencv-python
numpy
pillow
imageio
pyrender
matplotlib
json
einops
pickle
pprint
scipy
typing
trimesh
tqdm
timm
facenet_pytorch
face_alignment>=1.14.0
segmentation_models_pytorch

